@import "_normalize";

/* COLORS */
$bodyBg: #815BFF;
$logoBg: #90f;
$logoTxt: #6682d2;
$logoShadow: #4f6cc1;
$linkText: #B08CFF;
$linkHover: #90f;
$text: #dcc3e1;
$textStrong: #F6DBFC;

* {
  box-sizing: border-box;
}

body {
  background-color: $bodyBg;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $linkText;
  text-decoration: none;
  transition: all 0.5s;

  &:hover,
  &:active {
    background-color: $linkText;
    color: $bodyBg;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: .125em;
  line-height: 1;
  margin: .444em 0 1em;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }
}

p,
li {
  font-size: 2.25em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 0 1em;

  strong {
    color: $textStrong;
    font-weight: 400;
  }
}

.logo {
  background-color: $logoBg;
  border-radius: 5.5em;
  height: 11em;
  left: 3em;
  padding: 1em 0;
  position: fixed;
  top: 1em;
  width: 11em;
  z-index: 1000;
}

.logo__text {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0;
  margin: .25em 0 0;
  text-align: center;
  text-shadow: -.05em .05em 0 $logoShadow;
  transform: rotate(-15deg);

  a {
    &:link,
    &:visited {
      display: block;
      color: $logoTxt;
      text-decoration: none;
    }

    &:hover,
    &:active {
      background-color: transparent;
      color: $logoShadow;
      text-shadow: -.05em .05em 0 $logoTxt;
    }
  }
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  min-width: 20em;
  padding: 0;
}

.main-nav__list-item {
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  letter-spacing: .132em;
  margin: 0;
  text-transform: uppercase;
  padding: 0;

  a {
    display: block;
    padding: .444em .675em;
  }
}

.content {
  color: $text;
  margin: 4em auto;
  max-width: 50em;

  a {
    border-bottom: .2em solid $linkText;
    font-style: italic;

    em {
      font-style: italic;
    }
  }

  .search-results {
    .song {
      margin-bottom: .5em;
    }
  }
}

.episode__title {
  font-size: 6em;
  font-weight: 100;

  strong {
    color: $textStrong;
    font-weight: 400;
  }
}

.episode__audio {
  display: block;
}

.episode__link-download {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1em 0 2em;
}

.episode-nav {
  position: relative;
  width: 100%;
}

.episode-nav__link {
  background-color: $linkText;
  border-bottom: none;
  border-radius: 3em;
  display: block;
  height: 4em;
  margin-top: -2em;
  opacity: .3;
  overflow: hidden;
  position: fixed;
  padding: 1em;
  text-indent: -100%;
  top: 50%;
  width: 4em;

  &:hover,
  &:active {
    opacity: 1;
  }
}

.episode-nav__link--previous {
  left: 1em;

  &::before {
    display: block;
    content: '';
    border-top: 1em solid transparent;
    border-right: 1em solid $bodyBg;
    border-bottom: 1em solid transparent;
    border-left: 1em solid transparent;
    position: absolute;
    top: 1em;
    left: .25em;
  }
}

.episode-nav__link--next {
  right: 1em;

  &::before {
    display: block;
    content: '';
    border-top: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid $bodyBg;
    position: absolute;
    top: 1em;
    left: 1.75em;
  }
}

.song-list,
.episode-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.episode-list__item {
  .episode-list--all &,
  .episode-list--results & {
    font-size: 1.5em;
    margin-bottom: 2.5em;
  }
}

.song-list {
  .episode-list--all &,
  .episode-list--results & {
    line-height: 1;
    margin: .5em 0 0;
  }
}

.song-list__item {
  .episode-list--all &,
  .episode-list--results & {
    font-size: .75em;
    line-height: 1.2;
  }

  .episode-list--all & {
    display: inline;
    margin: 0;
  }

  .episode-list--results & {
    margin: 0 0 .5em;
  }
}

.search {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 2em;
    font-weight: 100;
    margin-top: 0;
  }
}

.search__input {
  border: 2px solid $logoBg;
  color: $bodyBg;
  font-size: 1.5em;
  margin: 0 0 1em;
  padding: .5em 1em;

  &:focus {
    outline: none;
  }
}

.highlighted {
  background-color: $logoBg;
}

.footer {
  color: $text;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 50em;
}


@media (max-width: 1000px) {
  body {
    font-size: 75%;
  }

  .content,
  .footer {
    margin: 0 8em;
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  body {
    font-size: 62.5%;
  }

  .content,
  .footer {
    margin: 0 6em;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 3em;
  }

  .search {
    display: block;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  .content,
  .footer {
    min-width: 20em;
  }

  .episode__audio {
    width: 100%;
  }
}
