@import "_normalize";

/* COLORS */
$bodyBg: #815BFF;
$logoBg: #90f;
$logoTxt: #6682d2;
$logoShadow: #4f6cc1;
$linkText: #B08CFF;
$linkHover: #90f;
$text: #dcc3e1;
$textStrong: #F6DBFC;


body {
  background-color: $bodyBg;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $linkText;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover,
  &:active {
    background-color: $linkText;
    color: $bodyBg;
  }
  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

header {
  background-color: $logoBg;
  position: fixed;
  top: 1em;
  left: 3em;
  height: 9em;
  width: 11em;
  border-radius: 6em;
  padding: 1em 0;
  z-index: 1000;
  h1 {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    text-shadow: -.05em .05em 0 $logoShadow;
    text-transform: uppercase;
    margin: .25em 0 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    a {
      &:link, &:visited {
        color: $logoTxt;
        text-decoration: none;
        display: block;
      }
      &:hover, &:active {
        background-color: transparent;
        color: $logoShadow;
        text-shadow: -.05em .05em 0 $logoTxt;
      }
    }
  }
}

.main-nav {
  top: 0;
  left: 0;
  width: 100%;
  ul {
    margin: 0 auto;
    min-width: 20em;
    text-align: right;
  }
  li {
    line-height: 1em;
    letter-spacing: .132em;
    text-transform: uppercase;
    display: inline-block;
    padding: .444em 0;
    a {
      padding: .444em .675em;
    }
  }
}

.content {
  color: $text;
  margin: 4em auto;
  max-width: 50em;
  h1, h2 {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: .125em;
    line-height: 1em;
    text-transform: uppercase;
    margin: .444em 0 1em;
    a {
      text-decoration: none;
    }
  }
  h2 {
    font-weight: 100;
    strong {
      display: block;
      font-weight: 300;
    }
  }
  a {
    border-bottom: .2em solid $linkText;
    &.download-link {
      display: inline-block;
      margin: 1em 0 2em;
    }
  }
  .song-list,
  .episode-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p,
  .song,
  .episode-info {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0 0 1em;
    a {
      font-style: italic;
    }
    strong {
      color: $textStrong;
      font-weight: 400;
    }
  }
  .all {
    .song-list {
      line-height: 1;
      margin: 0;
    }
    .song {
      display: inline;
      font-size: .75em;
      line-height: 1.2;
      margin: 0;
    }
    .episode-info {
      margin-bottom: 2.5em;
    }

  }
  audio {
    display: block;
  }
}

.episode-nav {
  position: relative;
  width: 100%;
  a {
    display: block;
    position: fixed;
    background-color: $linkText;
    border-bottom: none;
    opacity: .3;
    padding: 1em;
    height: 2em;
    width: 2em;
    top: 50%;
    margin-top: -2em;
    border-radius: 3em;
    &:hover, &:active {
      opacity: 1;
    }
    &.previous {
      left: 1em;
      &:before {
        display: block;
        content: '';
        border-top: 1em solid transparent;
        border-right: 1em solid $bodyBg;
        border-bottom: 1em solid transparent;
        border-left: 1em solid transparent;
        position: absolute;
        top: 1em;
        left: .25em;
      }
    }
    &.next {
      right: 1em;
      &:before {
        display: block;
        content: '';
        border-top: 1em solid transparent;
        border-right: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-left: 1em solid $bodyBg;
        position: absolute;
        top: 1em;
        left: 1.75em;
      }
    }
  }
}

footer {
  color: $text;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 50em;
}



@media (max-width: 1000px) {
  body {
    font-size: 75%;
  }
  .content,
  footer {
    margin: 0 8em;
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  body {
    font-size: 62.5%;
  }
  .content,
  footer {
    margin: 0 6em;
  }
}

@media (max-width: 640px) {
  .content {
    h1, h2 {
      font-size: 3em;
    }
  }
}

@media (max-width: 480px) {
  .content,
  footer {
    min-width: 20em;
    h1, h2 {
      font-size: 2em;
    }
  }
  audio {
    width: 100%;
  }
}
