# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.map
*.log
*.css
*.mp3
*.ogg

src/_res/js/libs/*/
*node_modules/

