<article ng-controller="EpisodeController as episodeC">
    <h2>The Hot Can All Vinyl Power Hour, episode {{episodes[index].number}}: "{{episodes[index].title}}"</h2>
    <p class="date">posted on: {{postDate | date:"longDate"}}</p>
    <a href="/_res/audio/mp3/{{episodes[index].filename}}.mp3" class="download-link">download this episode</a>
    <ul>
        <li>intro: <strong>{{episodes[index].intro.artist}}</strong>, "{{episodes[index].intro.title}}", <a href="{{episodes[index].intro.albumURL}}" target="_blank">{{episodes[index].intro.album}}</a>; {{episodes[index].intro.label}}, {{episodes[index].intro.year}}</li>
        <li ng-repeat="song in episodes[index].songs"><strong>{{song.artist}}</strong>, "{{song.title}}", <a href="{{song.albumURL}}" target="_blank">{{song.album}}</a>; {{song.label}}, {{song.year}}</li>
    </ul>
</article>

<episode-nav></episode-nav>